body {
	font-family: Helvetica, Arial, sans-serif;
	color: #009CA2;
}

#wrapper {
	position: relative;
	width: 500px;
	margin: 50px auto;
	text-align: justify;
}

#arrow {
	position: absolute;
	top: -30px;
	right: -200px;
}

#arrow img {
	max-height: 200px;
}

.primary {
	color: #70224c;
}

.primary-button {
	padding: 10px 20px;
	border: 1px solid #70224c;
	border-radius: 10px;
	font-size: 18px;
	background-color: #70224c;
	color: #fff;
	cursor: pointer;
}

.call-to-action-wrapper {
	margin-top: 25px;
	text-align: center;
}